---
  extends: braintree/client

  rules:
    valid-jsdoc:
      - 2
      - prefer:
          return: returns
        requireReturn: true
        requireParamDescription: true
        requireReturnDescription: true

  overrides:
    - files: "src/translations/*"
      rules:
        key-spacing: 0

  globals:
    __dirname: true
    process: true
