{
  "extends": ["braintree/client", "braintree/es6"],
  "parserOptions": {
    "sourceType": "script",
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-warning-comments": 0,
    "key-spacing": 0
  },
  "ignorePatterns": ["babel.config.js", "wdio.conf.js", "webpack.config.js"]
}
