.braintree-dropin {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  overflow: hidden;
  height: auto;
  font-size: 14pt;
  font-family: sans-serif;
  border: 1px solid black;
}

.braintree-dropin__hidden {
  display: none;
}

.braintree-dropin__picker-view {
  padding: 1em 0;
  text-align: center;

  a {
    display: inline-block;
    margin: 0 auto;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: white;
  }
}

.braintree-dropin__pay-with-card-picker-view {
  a {
    background-color: seagreen;
  }
}

.braintree-dropin__paypal-picker-view {
  a {
    background-color: blue;
  }
}

.braintree-dropin__completed-picker-view {
  a {
    background-color: hotpink;
  }
}

.braintree-dropin__payment-method-picker.braintree-dropin__closed div {
  display: none;
}

.braintree-dropin__payment-method-picker div:first-child {
  content: "Change ";
  display: block;
}

.braintree-dropin__payment-method-picker div:first-child::before {
  content: "Change ";
}

.braintree-dropin__payment-method-picker .braintree-dropin__payment-method-picker div:first-child::before {
  content: "Choose ";
}

.braintree-dropin__braintree-hosted-field {
  height: 2em;
  width: 100%;
  border: 1px solid gray;
  box-shadow: inset 0 0 2px 0 lightgray;
  border-radius: 0.25em;
  padding: 0.5em;
}

.braintree-dropin__braintree-hosted-fields-valid {
  border-color: green;
  box-shadow: inset 0 0 2px 0 green;
}

.braintree-hosted-fields-invalid {
  border-color: tomato;
  box-shadow: inset 0 0 2px 0 tomato;
}

.braintree-dropin__view {
  display: none;
}

.braintree-dropin__pay-with-card .braintree-dropin__pay-with-card,
.braintree-dropin__completed .braintree-dropin__completed,
.braintree-dropin__change-payment-method .braintree-dropin__change-payment-method
{
  display: block;
}
