.braintree-dropin__alert {
  font-size: $type-14;
  line-height: 1.4;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 10px;
  text-align: left;
  background: lighten($red, 55%);
  border: 1px solid $red;
  color: $red;
}

.braintree-dropin__alert-link {
    color: $red;
}
