.braintree-dropin__payment-method-picker {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.braintree-dropin__display {
  background: #f7f7f7;
  background-image: linear-gradient(-180deg, #e6e6e6 0%, #f2f2f2 100%);
  border: 1px solid #d9d9d9;
  display: flex;
  padding: 1em 2em 1em 1.5em;
  margin: 0;
  cursor: pointer;
  transition: all $time-fast;
  align-items: center;
  justify-content: space-between;

  opacity: 0.6;
  -webkit-transition: -webkit-filter 100ms;
  transition: -webkit-filter 100ms;
  transition: filter 100ms;
  transition: filter 100ms, -webkit-filter 100ms;
  -webkit-filter: grayscale(1);
}

.braintree-dropin__collapsed .braintree-dropin__display {
  opacity: 1;
  -webkit-filter: none;
}

.braintree-dropin__hide,
.braintree-dropin__collapsed .braintree-dropin__drawer {
    visibility: hidden;
    transition: all $time-faster linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.braintree-dropin__icon-arrow::before {
  content: ">";
  display: block;
  font-family: Courier, monospace;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  transform: rotate(-90deg);
}

.braintree-dropin__collapsed .braintree-dropin__icon-arrow::before {
  transform: rotate(90deg);
}

.braintree-dropin__drawer {
  box-shadow: 0 1px 1px 1px lightgray;
  background: white;
  width: 100%;
  position: absolute;
  z-index: 2147483647;
  border: 1px solid #d9d9d9;
}

.braintree-dropin__drawer-list {
  padding: 0;
  margin: 0;
}

.braintree-dropin__drawer-header {
  line-height: 1.4;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-right: none;
  padding: 1em;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666;
  background: #e6e6e6;
  font-weight: 600;
}

.braintree-dropin__view {
  display: none;
}

.braintree-dropin__pay-with-card .braintree-dropin__pay-with-card {
  display: block;
}

.braintree-dropin__view.braintree-dropin__pay-with-card {
  padding: 1em;
  border: 1px solid #d9d9d9;
}

.braintree-dropin__form-fields-hosted {
  height: 2em;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #bfbfbf;
}

.braintree-dropin__picker-view button {
  background: white;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  width: 100%;
}

.braintree-dropin__picker-view:last-child button {
  border: none;
}
