#braintreeDropIn * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.image--PayPal-button {
    width: 144px;
}
.braintree-dropin {
    min-width: 290px;
    margin: 0;
    padding: 0;
}
