.braintree-dropin__no-flexbox {
  .braintree-dropin__picker-view {
    display: block;
  }

  [data-braintree-id="disclosure-arrow"] {
    display: block;
    margin-top: -10px;
    position: absolute;
    right: 20px;
    top: 50%;
  }

  [data-braintree-id="card-picker-icons"] {
    display: block;
  }

  .braintree-dropin__icon-card {
    float: left;
    padding-top: 0;
  }

  .braintree-dropin__icon-card--center {
    left: 14px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
  }

  .braintree-dropin__check-container {
    float: right;
    margin-top: -9px;
    padding-top: 0;
    position: absolute;
    right: 18px;
    top: 50%;
  }

  .braintree-dropin__picker-view {
    position: relative;
    text-align: center;
  }

  .braintree-dropin__completed-picker-view {
    text-align: left;
  }

  .braintree-dropin__picker-label {
    float: left;
    left: 18px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
  }

  .braintree-dropin__payment-method {
    clear: both;
  }

  .braintree-dropin__payment-method:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }

  .braintree-dropin__list-definition {
    float: left;
    margin-left: 48px;
    padding-top: 0;
    width: 80%;
  }

  .braintree-dropin__loading-indicator {
    margin: 0 auto;
  }

  .braintree-dropin__form-icon--absolute {
    float: right;
    margin-top: -1px;
    position: absolute;
    right: 9px;
    top: 50%;
  }
}
