@media (max-width: 620px) {
    .braintree-dropin__form-label {
        font-size: $type-14;
    }
    .braintree-dropin__picker-view {
        justify-content: space-between;
    }
    .image--PayPal-button {
        width: 140px;
    }
    .braintree-dropin__image {
        text-align: right;
    }
}
