.braintree-dropin__desaturate {
  opacity: 0.6;
  transition: filter $time-faster;
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.braintree-dropin__display--none {
  display: none;
}

.braintree-dropin__hide {
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: all $time-faster linear;
  visibility: hidden;
}

.padding-right--1 {
  padding-right: 1rem;
}

.padding-right--3 {
  padding-right: 3rem;
}

.padding-all {
  padding: 1.5rem;
}

.margin-bot--1 {
  margin-bottom: 1rem;
}

.hide {
  opacity: 0;
  transition: all 0.2s;
  visibility: hidden;
}

.desaturate {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 0.6;
  transition: all $time-fast;
}

.flex {
  display: flex;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-large {
  flex-grow: 2;
}

.flex-small {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 2;
}

.flex-align-middle {
  align-items: center;
}

.relative {
  position: relative;
}

.text-align--center {
  text-align: center;
}

.text-align--right {
  text-align: right;
}

.right {
  flex: 1 50%;
}

.right--60 {
  flex: 1 60%;
}

.left--40 {
  flex: 1 40%;
}

.left {
  flex: 1 50%;
}

.u-underline {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 3px;
}
