$black: #000;
$white: #fff;
$red: #CC0000;
$type-12: 12px;
$type-14: 14px;
$type-16: 16px;
$black-60: lighten($black, 60%);
$black-40: lighten($black, 40%);
$black-75: lighten($black, 75%);
$black-85: lighten($black, 85%);
$black-90: lighten($black, 90%);
$black-95: lighten($black, 95%);
$black-97: lighten($black, 97%);
$black-98: lighten($black, 98%);
$time-fast: 200ms;
$time-faster: 100ms;
$curve-swing: cubic-bezier(0.645, 0.045, 0.355, 1);
$curve-springy: cubic-bezier(.43,.48,.62,1.07);
